<section class="search-wrapper">
    <section class="headerWrap">
        <div class="searchheader">
            <input class="searchBuck" type="text" ng-model="searchTerm" placeholder="Search" ng-keypress="searchPress($event)"/>
        </div>
    </section>
    <section class="specialSearchContentWrap clearfix">
        <div class="specialContent">
            <div class="specialContentInnerWrap">
                <div class="specialCotentImage" ng-if="result.RelatedTopics[0].Icon.URL">
                    <img ng-src="{{result.RelatedTopics[0].Icon.URL}}" alt="" class="scImage"/>
                </div>
                <div class="specialContentText">
                    <h1>{{result.Heading}}</h1>
                    <div class="generalgrey">{{result.RelatedTopics[0].Text}}</div>
                    <div class="linkContainer">
                        <div class="specialContentLink">
                            <a href="">
                                <span>Show More</span>
                            </a>
                        </div>
                        <div class="specialContentLink">
                            <a href="">
                                <span>More at Wikipedia</span>
                            </a>
                        </div>
                        <div class="specialContentLink">
                            <a href="">
                                <span>encrypted.google.com</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="relatedTopics">
            <div class="relatedTopicContent">
                <div class="relatedInfo" ng-repeat="data in relatedData">
                    <span class="relatedInfoLabel" ng-bind="data.label"></span>
                    <span class="relatedInfoValue" ng-bind="data.value"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="mainSearchContent">
        <div class="mainSearchResult" ng-repeat="data in result.RelatedTopics">
            <div class="resultBody">
                <div class="resultHeader" ng-bind-html="data.Result"></div>
                <div class="resultContent" ng-bind="data.Text"></div>
                <a class="resultSub" href="data.FirstURL" ng-bind-html="data.FirstURL"></a>
            </div>
        </div>
    </section>
</section>
