<section class="wrapper">
    <section class="mainSearch">
        <div class="buckLogoText">BuckBuckGo</div>
        <div class="searchBox">
            <input class="searchBuck" type="text" ng-model="searchTerm
            " placeholder="Search" ng-keypress="searchPress($event)"/>
        </div>
    </section>
    <div class="searchBorder"></div>
    <section class="pricingPlan">
        <section class="pricingHeader">
            Try Search Pro
        </section>
        <section class="plans">
			<span class="actualPlans" ng-repeat="plans in homePageData">
				<div class="planHeader">
                    <div class="planName" ng-bind="plans.planName"></div>
                    <div class="planSub" ng-bind="plans.planSub"></div>
                </div>
				<div class="planPrice">
                    <div class="amount">
                        {{plans.amount}}
                        <div class="timeSpan" ng-bind="plans.timeSpan"></div>
                    </div>
                    <div class="joinLogo" id="flag"></div>
                </div>
				<div class="techDetails">
                    <div class="techData" ng-repeat="data in plans.techData">
                        <div class="techDataLogo"></div>
                        <div class="techDataContent" ng-bind="data"></div>
                    </div>
                </div>
				<div class="bnous" ng-bind="plans.bonus">
                </div>
			</span>
        </section>
    </section>
</section>